services:
  web:
    build:
      context: .
      dockerfile: ./apps/node.Dockerfile
      target: dev
      args:
        APP: web
    environment:
      TEMPORAL_ADDRESS: temporal:7233
      TEMPORAL_CONNECTION_TIMEOUT: 60s
      VITE_HOST: 0.0.0.0
      VITE_PORT: 9999
    ports:
      - 9999:9999
    restart: on-failure
    volumes:
      - ./apps:/home/node/root/apps
    depends_on:
      workflow:
        condition: service_started
      temporal:
        condition: service_healthy

  workflow:
    build:
      context: .
      dockerfile: ./apps/golang.Dockerfile
      target: dev
      args:
        APP: workflow
    environment:
      LOG_LEVEL: debug
      TEMPORAL_ADDRESS: temporal:7233
    restart: on-failure
    volumes:
      - ./apps:/go/root/apps
    depends_on:
      temporal:
        condition: service_healthy

  ########################
  # Third-party services #
  ########################
  temporal:
    image: temporalio/temporal
    ports:
      - 7233:7233
      - 8233:8233
    command: server start-dev --ip 0.0.0.0
    healthcheck:
      test: ["CMD-SHELL", "temporal operator cluster health"]
      interval: 10s
      timeout: 10s
      retries: 3
